body{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
}
.header{
    margin-top:none;
    height: 30px;
    width: 100%;
    background-color: #ffbf80;
    padding: 10px 10px;
}
.header-text{
    font-size:25px ;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-top: 5px;
}
.book-link{
    font-size:35px ;
    font-weight: 500;
    margin: 20px;
    padding: 10px auto;
    color:#ff6600;
}
.link-container{
    display: flex;
}
.link-text{
    font-size:23px ;
    font-weight: 400; 
    margin: 29px 20px;
    text-decoration: none;

}
.header-img{
    height: 450px;
    width: 100%;
    margin-top: 10px;
}
.sub-head-text{
    font-size:35px ;
    font-weight: 500;
    color: black;
    margin: 5px 35px;
    text-align: center;
    font-family:"Outfit", sans-serif;
}
.book{
    width:150px;
    height:190px;
    display:block;
    margin:10px auto;
    
    border: 1px solid black;
    
}
.Buy-now-button{
    background-color:#ffaa00;
    
    color:black;
    display:block;
    margin: 3px 50px;
    border-radius: 50px;
    border:none;
    padding: 7px 12px;
}
.card{
    height: 340px;
    width:208px;
    border:2px solid #ffc34d;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 40px;
    display: inline-block;
}
.ratings{
    height: 60px;
    width: 80px;
    margin-left: 50px;
}
.main-card-conatiner{
    display:flex;
}
footer {
    text-align: center;
    padding: 1em 0;
    background-color:#ffdf99;
    color: black;
    border:0px solid ;
    width: 1500px;
    margin: none;

}

.footer-container {
    width: 100%;
    height: 40px;
    
    
}

  
  .footer-img{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 10px;
    margin: 0 10px ;
  }
  .foot-text{
    font-size: 20px;
    color:#001858;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    margin: 10px;
    padding: 10px;
    align-items: center;

  }
.footer-child-container{
  display: flex;
}


.footer-child-container2{
  display:flex;
  margin: 10px 10px;
  color:#001858;
 font-size: 30px;
 font-weight: 400;
}
@media screen and  (max-width: 470px) {
    .header-text{
        font-size:20px ;
        font-weight: 300;
}
.book-link{
    font-size:15px ;
    font-weight: 400;
}
.link-text{
    font-size:13px ;
    font-weight: 300;
    margin: 25px 10px; }
.header-img{
        height: 300px;
}
.sub-head-text{
    font-size:25px ;
    font-weight: 400;
}
.card{
    width:150px;
    margin: 10px;
}
.Buy-now-button{
   font-size: 10px;
   width: 100px;
   margin-left: 25px;
   
}
.main-card-conatiner{
    flex-wrap: wrap;
}
.text{
    font-size: 15px;
}
.foot-text{
    font-size: 15px;
}
}
/*Tablet Device*/

@media screen and (min-width: 470px) and (max-width: 720px) {

    
.card{
    width:180px;
    margin: 10px;
}
.Buy-now-button{
   font-size: 15px;
   width: 100px;
   margin-left: 38px;
   
}
.main-card-conatiner{
    flex-wrap: wrap;
}
.text{
    font-size: 15px;
}
.foot-text{
    font-size: 15px;
}
}
